# Backend
DATABASE_URL=postgresql://username:password@host:port/database
FRONTEND_URL=https://your-frontend-url.com
NODE_ENV=production

# Frontend
NEXT_PUBLIC_API_BASE_URL=https://your-backend-url.com